# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ
.idea/
!.idea/runConfigurations/
!.idea/codeStyles/
*.iws
*.iml
*.ipr
**/out/

# Logs
*.log

# Python
**/.venv
**/venv

# sdkman
.sdkmanrc
